.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-box {
  padding: 10px;
  font-size: 16px;
  border: 2px;
  border-radius: 6px;
  width: 40%;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #4f4c50;
  color: white;
  padding: 10px 15px;
  border: 2px;
  border-radius: 5px;
  font-size: 16px;
}

.submit-buttom:hover {
  background-color: #45a049;
}

.container{
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
